.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.pieces {
  text-align: center;
  display: inline-block;

}
.header{
  margin: 0 auto;
}
#myBtn{
  border: none;
    color: white;
    overflow: hidden;
    margin: 1rem;
    padding: 0;
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    border-radius: 10em;
    background-color: #838383;
    border: 2px solid;
    position: relative;

}
html body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
h2{
  font-family: 'Lobster', cursive;
  color: #4ECCA3;
  padding:1rem 0;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
h1 + i{
  color:#f4f6ff;
}
footer i{
  color:#e8505b;
}
